@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    align-items: center;
}
h1{
    font-family: "Bungee Inline", sans-serif;
    margin: 2%;
    background-color: #5ea7ec;
    padding: 3%;
    border-radius: 5px 30px 5px 5px;
}

header img{
    width: 10%;
    min-width: 98px;
    float: left;
}

h2{
    font-family: "Bungee Inline", sans-serif;
    color: #5ecba4;
}

section{
    margin: 0 10%;
}

button{
    margin: 5% 10px;
    background-color: #f1cc7d;
    width: 8%;
    border-radius: 7px;
    min-width: 50px;
    font-size: 1em;
    font-weight: 700;
    padding: 5px;
}

button:hover{
    box-shadow: 3px 3px 3px gray;
}

.elegiJugar span{
    font-size: 2rem;
}

.back{
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    display: flex;
}

.back img{
    height: 20px;
    margin-right: 5px;
}

canvas{
    border: 5px solid #63c8ef;
}